@using Hollyathome.Games.TicTacToe.Lib
@using System.Threading

@page "/noughtsandcrosses"

<h1>Noughts &amp; Crosses</h1>

@if (initialized)
{
    <table class="table w-auto nc-board"> 
        <tbody>
            <tr>
                <td @onclick="@(() => Go(1))" class="nc-cell-tl">@uiContext.currentGrid.CellAt(1).Content()</td>
                <td @onclick="@(() => Go(2))" class="nc-cell-tm">@uiContext.currentGrid.CellAt(2).Content()</td>
                <td @onclick="@(() => Go(3))" class="nc-cell-tr">@uiContext.currentGrid.CellAt(3).Content()</td>
            </tr>
            <tr>
                <td @onclick="@(() => Go(4))" class="nc-cell-ml">@uiContext.currentGrid.CellAt(4).Content()</td>
                <td @onclick="@(() => Go(5))" class="nc-cell-mm">@uiContext.currentGrid.CellAt(5).Content()</td>
                <td @onclick="@(() => Go(6))" class="nc-cell-mr">@uiContext.currentGrid.CellAt(6).Content()</td>
            </tr>
            <tr>
                <td @onclick="@(() => Go(7))" class="nc-cell-bl">@uiContext.currentGrid.CellAt(7).Content()</td>
                <td @onclick="@(() => Go(8))" class="nc-cell-bm">@uiContext.currentGrid.CellAt(8).Content()</td>
                <td @onclick="@(() => Go(9))" class="nc-cell-br">@uiContext.currentGrid.CellAt(9).Content()</td>
            </tr>
        </tbody>
    </table>
}
    <div>
        <p>@uiContext.prompt</p>
    </div>
@if (!started)
{
    <div>
        <button class="btn btn-primary" @onclick="Start">Start</button>
    </div>
}
    <div>
        <p class="validation-message">@uiContext.error</p>
    </div>

@code{

    private BlazorUiContext uiContext;

    private Game game;

    private bool initialized;

    private bool started;

    protected override void OnInitialized()
    {
        uiContext = new BlazorUiContext();

        game = new Game(
                new Player[]{
                    new Player("O", uiContext),
                    new Player("X", uiContext)
                },
                uiContext
            );
    }

    private void Start()
    {
        if(!initialized)
        {
            initialized =  true;
        }
        
        started = true;
        uiContext.gameOver = false;
        game.Start();
    }

    private void Go(int move)
    {
        if(!uiContext.gameOver)
        {
            uiContext.error = string.Empty;
            uiContext.AcceptMove(move);
            started = !uiContext.gameOver;
        }
    }        
}